<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bulma.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>

    <body>
      {% for party in parties %}
        <div class="progress-wrapper">
          <progress class="progress is-medium" value="{{party.score}}" max="{{total}}">{{100 * party.score / total}}%</progress>
          <p class="progress-value has-text-white">{{party.name}}: {{'%0.1f' | format(100 * party.score/total)}}%</p>
        </div>
      {% endfor %}
      {% for message in messages %}
        <article class="message">
          <div class="message-header">
            <p>{{message.title}}</p>
          </div>
          <div class="message-body">
            {{message.content}}
          </div>
        </article>
      {% endfor %}
    </body>
</html>
